.continer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin-top: 0;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    align-items: center;
}
.title span{
    color: #26ffcb;
    padding-left: 15px;
}
.reset{
    width: 140px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #26ffcb;
    margin-bottom: 30px;
}

.boxes{
    display: flex;
    height: 110px;
    width: 110px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}
.borde{
    height: 390px;
    width: 490px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

}
.boxes img{
    margin: 30px 30px;
}

.title img{
    width: 35px;
    height: 35px;
    padding: 10px;

}